.reitur {
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px 0 0 1px;
}

.ped {
    -fx-radius: 20;
    -fx-stroke: black;
    -fx-stroke-type: inside;
}
.blar { -fx-fill: blue; }
.gulur { -fx-fill: yellow; }