.reitur {
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-background-color: blue;
    -fx-border-color: black;
    -fx-border-width: 1px 0 0 1px;
}

.ped {
}


.gulur  { -fx-background-image: url("myndir/realYellow.png"); }
.raudur { -fx-background-image: url("myndir/realRed.png"); }
.graenn { -fx-background-image: url("myndir/realGreen.png"); }
.blar { -fx-background-image: url("myndir/realBlue.png"); }